{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    <script src="{% static 'jquery.js' %}"></script>#}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <form class="form-student-ajax" method="post" action="{% url 'create' %}">
        {% csrf_token %}

        <input type="text" name="name" >
        <input type="number" name="age">
        <input type="text" name="school">
        <input type="text" name="description">
        <input type="submit" value="submit">

    </form>

    <script>

        $(document).ready(function(){
            var studentForm= $('.form-student-ajax');
            studentForm.submit(function (event) {

                event.preventDefault();
                var thisForm=$(this);
                var actionEndpoint=thisForm.attr("action");
                var httpMethod=thisForm.attr("method");
                var formData=thisForm.serialize();

                $.ajax({
                    url:actionEndpoint,
                    method:httpMethod,
                    data:formData,
                    success:function (data) {
                        console.log("success");
                        console.log('00999');
                        console.log(actionEndpoint);
                        console.log(data);
                        console.log(data.created);
                        console.log(data.notcreated);
                        window.location.href="/";

                    },
                    error:function (errorData) {
                        console.log("error");
                        console.log(errorData);
                    }
                })

            });


        })
    </script>



</body>
</html>